.purchase_btn {
  font-size: 40px;
  border: none;
  border-radius: 50%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);

  position: fixed;
  right: 25px;
  bottom: 50px;

  cursor: pointer;

  & path{
    stroke: #fff;
  }
}