.Header {
  width: 100%;
  background-color: var(--color-first);

  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
  color: #fff;
  text-align: center;
  
  & > h2 {
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
  }

  div:nth-child(1) {
    font-size: 35px;
    display: inline-flex;
    position: absolute;
  }

  div {
    filter: drop-shadow(1px 1px 5px #000);
    cursor: pointer;
  }
}
